<!DOCTYPE html>
<html>
<head>
  <title>Signuprails</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="page_top">
		<div id="top">
			<div id="logo" class="corners"><h1>RoR Tutorial</h1></div>
		</div>
	</div>
	<div id="page_middle">
		<div id="main" class="corners">
			<div id="content">
				<%= yield %>
			</div>

		</div>
	</div>
	<div id="page_bottom">
		<div id="bottom" class="corners">
			<div id="bottom_content">
				<nav>
				<ul>
            		<li><%= link_to "Home", '#' %></li>
            		<li><%= link_to "Help", '#' %></li>
            		<li><%= link_to "Sign in", '#' %></li>
          		</ul>
          		</nav>
			</div>
		</div>
	</div>

</body>
</html>
